@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --margin: 40px;
    --three-quarter-margin: calc(var(--margin) * 0.75);
    --half-margin: calc(var(--margin) * 0.5);
    --quarter-margin: calc(var(--margin) * 0.25);
    --background: #F2F2F2;
    --font-primary: #0065FC;
    --font-secondary: #DEEBFF;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1440px;
}

main section,
body>header {
    margin: 0 var(--margin) var(--margin);
}

h1, aside h2 {
    font-size: 22px;
    margin: var(--half-margin) 0;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

i {
    color: var(--font-primary);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-gap{
    gap: var(--half-margin);
}
.flex-justify-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* HEADER */
header a {
    padding: var(--three-quarter-margin);
    display: inline-block;
    border-top: transparent solid 2px;
}

nav a:hover {
    color: var(--font-primary);
    border-top-color: var(--font-primary);
}

header picture {
    margin-left: var(--half-margin);;
    align-self: flex-end;
}

header img {
    width: 100px;
}

/* SEARCH */
form {
    margin: var(--margin) 0;
}

form label {
    border-radius: 15px 0 0 15px;
    background-color: var(--background);
}

form label i {
    color: black;
}

form label,
form input,
form button {
    height: 50px;
    border: solid 1px var(--background);
    font-size: 18px;
    font-weight: bold;
    padding: 0 var(--half-margin);
}

form button {
    border-radius: 0 15px 15px 0;
    border-color: var(--font-primary);
    background-color: var(--font-primary);
    color: white;
}

form button:hover {
    cursor: pointer;
}

form button.mobile {
    border-radius: 15px;
    display: none;
}

#search-filters {
    align-items: baseline;
}

#search-filters h2 {
    margin-right: var(--margin);
}

.search-filter {
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: solid 2px var(--background);
    margin: 0 var(--margin) var(--margin) 0;
}

.search-filter:last-child {
    margin-right: 0;
}

.search-filter p {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.search-filter p:first-letter {
    text-transform: capitalize;
}

.search-filters-icon {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: var(--font-secondary);
    margin-left: -2px;
}

.search-filter:hover {
    background-color: var(--font-secondary);
    border-color: var(--font-secondary);
    cursor: pointer;
}

#search-count {
    align-items: baseline;
}

#search-count>div {
    height: 25px;
    width: 25px;
    display: inline-flex;
    border: var(--background) solid 1px;
    border-radius: 100%;
    margin-right: var(--half-margin);
}

#search-count i {
    font-size: 15px;
}

#search-count p {
    margin: 0;
}

/* CARD */
.card {
    border-radius: var(--half-margin);
    background-color: white;
    box-shadow: 0 0 var(--quarter-margin) var(--quarter-margin) var(--background);
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.02);
}

.card a {
    padding: 5px;
    height: 100%;
}

.card img {
    width: 100%;
    height: 120px;
    border-radius: calc(var(--half-margin) - 5px) calc(var(--half-margin) - 5px) 0 0;
    object-fit: cover;
}

.card figure {
    margin: 0;
}

.card h3,
.card p,
.card-rate {
    text-align: left;
    margin: var(--quarter-margin) var(--quarter-margin) 0;
}

.card p {
    margin-bottom: var(--quarter-margin);
}

.card h3 {
    font-size: 16px;
}

.card p span {
    font-weight: bold;
}

.card-rate {
    text-align: left;
    margin-top: auto;
}

.card i[data-rate=false] {
    color: var(--background);
}

/* accommodations */
#accommodations-anchor .card {
    width: 30%;
}

#accommodations-anchor {
    width: calc(66% - var(--quarter-margin));
    padding: var(--three-quarter-margin);
    background-color: var(--background);
    border-radius: var(--half-margin);
}

#accommodations-anchor>div {
    margin-bottom: var(--half-margin);
}

#accommodations-anchor p:last-child {
    margin: auto 0 0;
    font-weight: bold;
}

/* accommodations aside */
aside {
    width: calc(34% - var(--half-margin));
    padding: var(--three-quarter-margin);
    background-color: var(--background);
    border-radius: var(--half-margin);
}

aside>div {
    height: 100%;
}

aside .card {
    height: 160px;
}

aside h2 i {
    color: black;
}

aside .card a {
    flex-wrap: wrap;
}

aside .card figure {
    width: 30%;
    height: 100%;
}

aside .card img {
    border-radius: 15px 0 0 15px;
    height: auto;
}

aside .card h3,
aside .card p,
aside .card-rate {
    width: calc(70% - var(--half-margin));
}

aside .card .card-rate {
    margin-top: auto;
}

/* ACTIVITIES */
.column .card {
    height: 100%;
}

.column .card a {
    padding: 0;
}

.column figure {
    display: contents;
}

.column h3 {
    margin: auto var(--half-margin);
}

.column .card img {
    height: calc(100% - 50px);
}

.column:nth-child(2) .card {
    height: calc(60% - var(--quarter-margin));
}

.column:nth-child(2) .card:last-of-type {
    height: calc(40% - var(--quarter-margin));
}

.column:nth-child(4) .card {
    height: calc(50% - var(--quarter-margin));
}

/* FOOTER */
footer {
    background-color: var(--background);
    padding: var(--margin);
}

footer>div {
    flex: 1;
}

footer li:not(li:last-child) {
    margin-bottom: var(--quarter-margin);
}

/* TAB */
@media screen and (max-width: 992px) {
    #accommodations {
        flex-direction: column-reverse;
    }

    #accommodations>aside,
    #accommodations-anchor {
        width: 100%;
    }

    #accommodations-anchor .card {
        width: 48%;
    }

    .search-filter:not(.search-filter:last-child) {
        margin-bottom: var(--half-margin);
    }
}

/* MOBILE */
@media screen and (max-width: 768px) {
    body>header {
        flex-direction: column;
        margin: 0 0 var(--margin);
    }

    body>header picture {
        align-self: center;
        margin: var(--half-margin) 0;
    }

    body>header nav li {
        width: 50%;
    }

    body>header nav ul li a {
        width: 100%;
        padding: var(--half-margin) 0;
        text-align: center;
        border-top: none;
        border-bottom: var(--background) solid 3px;
    }

    body>header nav ul li:hover a {
        border-top: none;
        border-bottom: var(--font-primary) solid 3px;
    }

    form {
        justify-content: center;
        position: relative;
    }

    form input {
        margin-right: 50px;
        outline: none;
        width: 100%;
    }

    form button {
        display: none;
    }

    form button.mobile {
        display: block;
        position: absolute;
        right: 0;
    }

    form i {
        color: white;
    }

    #accommodations-anchor .card,
    #activities .card {
        height: 216px;
    }

    #accommodations-anchor .card {
        width: 100%;
    }

    #accommodations {
        margin: 0;
    }

    #accommodations aside,
    #accommodations-anchor {
        border-radius: 0;
        padding: var(--margin);
    }

    #accommodations-anchor {
        background-color: white;
    }

    #activities>div,
    footer {
        flex-direction: column;
    }

    footer li {
        margin-bottom: var(--quarter-margin);
    } 
}