* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: lightgray;
}

header {
    text-align: center;
    padding: 2em 0;
    border-bottom: solid 1px lightgray;
    background-color: darkgray;
}

section>p {
    margin: 1em 0;
    text-align: center;
}

#map {
    height: 50vh;
    min-height: 250px;
    z-index: 1;
}

.hide {
    display: none;
}

form {
    margin: 0.5em;
}

form label {
    margin-right: 0.5em;
}

#autocomplete {
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 1em 0;
    border: solid 2px gray;
    width: calc(100% - 4px);
}

#autocomplete div p {
    text-align: center;
    margin: 0;
}

#autocomplete ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0.5em;
    justify-content: space-evenly
}

#autocomplete li {
    border: solid 2px gray;
    border-radius: 5px;
    padding: 0.2em;
}

#autocomplete li:hover {
    cursor: pointer;
    background-color: lightgray;
}

#autocomplete span {
    margin-left: 0.5em;
    font-weight: bold;
}

#weather ul {
   text-align: center;
   list-style: none;
   padding: 0;
   margin: 2em 0 0 0;
}

#weather li:first-child {
    font-size: 3em;
}

.error {
    background-color: lightcoral;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    margin: 0;
    padding: 0.5em;
    border: solid 2px red;
    font-weight: bold;
}

section {
    position: relative;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid transparent;
    width: 5em;
    height: 5em;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 4em);
    bottom: 5em;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }