header h1 {
    font-family: 'Another Day';
    font-size: 6em;
    margin: 0;
}

header p {
    font-weight: lighter;
    font-size: 1.2em;
    white-space: nowrap;
}

#coord p {
    font-weight: 600;
}

#coord span {
    font-style: italic;
    color: coral;
}

#first-section {
    background: no-repeat bottom 4em left url("img/background.webp");
    background-size: 60%;
}

#second-section {
    margin-bottom: 4em;
}

footer {
    background-color: black;
    color: coral;
    height: 4em;
}

@font-face {
    font-family: "Another Day";
    src: url("font/another_day/AnotherDay.ttf") format("truetype");
}

@media screen and (max-width: 420px) {
    header h1 {
        font-size: 18vw;
    }

    header p {
        font-size: 5vw;
    }
}