header h1 {
    font-family: 'Another Day';
    font-size: 6em;
    margin: 0;
}

header p {
    font-weight: lighter;
    font-size: 1.2em;
    white-space: nowrap;
}

#coord p {
    font-weight: 600;
}

#coord span {
    font-style: italic;
    color: coral;
}

#first-section {
    min-height: calc(100vh - 6em);
    background: url("img/background_top.png") no-repeat bottom left;
    background-size: 50%;
}

#second-section {
    background: url("img/background_bottom.png") no-repeat top left;
    background-size: 50%;
    margin-bottom: 6em;
}

#style-1 {
    background-color: #17a8c0;
}

footer {
    background-color: black;
    color: coral;
    height: 6em;
    min-height: 6em;
}

@font-face {
    font-family: "Another Day";
    src: url("font/another_day/AnotherDay.ttf") format("truetype");
}

@media screen and (max-width: 420px) {
    header h1 {
        font-size: 18vw;
    }

    header p {
        font-size: 5vw;
    }
}